.header {
    position: relative;
    height: 34vw; 
    margin-block-end: 30px auto;
}

.header video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid tomato;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    color: #fff;
    font-size: max(4.5vw,22px);
}

.header-contents p{
    color: #fff;
    font-size: 1vw;
}

.header-contents button{
    border: 2px solid tomato;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: #fff;
    font-size: max(1vw,13px);
    border-radius: 50px;
    cursor: pointer;
}
.header-contents button:hover{
    background-color: #fff4f2;
}
@media (max-width: 1050px){
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}
@media (max-width: 650px){
    .header {
        height: 80vw; 
        width: 80vw;
        margin-bottom: -50px;
    }
}